langchain
ipykernel
python-dotenv
langchain_community
pypdf
pymupdf
langchain-text-splitters
langchain-openai
langchain-ollama
chromadb
langchain_chroma
sentence_transformers
langchain_huggingface
faiss-cpu
beautifulsoup4
streamlit
langchain_core
fastapi
uvicorn
langchain-groq
duckduckgo-search
pymupdf
langserve
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube